#navbar-nonBS{
    text-align: center;
    margin-bottom: .75em;
}

#navbar-nonBS ul{
    position: relative;

}


#myCarousel{

    width: 50%;
    position: center;
    margin-left: auto;
    margin-right: auto;
}

#carousel-images div{

   max-height: 500px;

}