#navbar-nonBS{
    text-align: center;
    margin-bottom: .75em;
}

#navbar-nonBS ul{
    position: relative;

}
body{

}

#myCarousel{

    width: 50%;
    position: center;
    margin-left: auto;
    margin-right: auto;
}


/*This normalizes image sizes, but breaks responsiveness */


/*#carousel-images div{*/

    /*height: 400px;*/

/*}*/
/*#carousel-images div img{*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*min-width: 100%;*/
    /*height: 100%;*/

/*}*/
#main-content div{
    margin: 7em;
    background-color: white;
}