#fixed-nav{
    font-family: 'Special Elite', Serif;
}


#logo{
    height: 10em;
    width: 10em;

}
#navbar-nonBS{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;


}


#navbar-nonBS ul{
    position: relative;
}
#navbar-nonBS ul li{
    font-family: 'Special Elite', Serif;
    font-size: 1.4em ;
    margin-left: .75em;
    margin-right: .75em;
}
.navbar-text{
    color: #533f03;
}
#nav-box{
    background-color: white;

}

#social_icon_header{
    float: right;
}

body{

}
/*#main-content{*/
    /*position: center;*/
    /*margin-left: 12em;*/
/*}*/
#main-content div{
    margin: 7em;
    background-color: white;

}

#myCarousel{

    width: 60%;
    position: center;
    margin-left: auto;
    margin-right: auto;
}





#carousel-images {
    width: 100%;
    max-height: 30em;


}
#carousel-images div img{

    min-width: 100%;
    max-height: 30em;
    object-fit: fill;

}
.carousel-decoration{
    background-color: black;
    opacity: .75;



}

