#form{
    margin-left: 20%;
}

input[type=text], input[type=email]{
    border: none;
    border-bottom: 2px solid black;
}

textarea#form_message{
    border: none;
    border-bottom: 2px solid black;
}

footer{
    height: 100px;
    background-color: #ced4da;
}

#footer_contact{
    margin: auto;
    width: 50%;
    text-align: center;
}

.btn:focus, .btn:active, button:focus, button:active{
    outline: none !important;
    box-shadow: none !important;
}

#image-gallery .modal-footer{
    display: block;
}

.thumb{
    margin-top: 15px;
    margin-bottom: 15px;
}

.img-gallery{
    max-width: 100%;

}