#form{
    margin-left: 20%;
}

input[type=text], input[type=email]{
    border: none;
    border-bottom: 2px solid black;
}

textarea#form_message{
    border: none;
    border-bottom: 2px solid black;
}

footer{
    background-color: #1d2124;
}

footer p{
    color: white;
}